.twocolumns {
  background-color: darkred;
  flex-direction: row;
  display: flex;
  padding: 10px;
  gap: 10px;
}
.two {
  background-color: darkmagenta;
  flex: 1;
  height: 50px;
  border: 10px solid black;
}
.threecolumns {
  background-color: darkorange;
  flex-direction: row;
  display: flex;
  gap: 15px;
  padding: 15px;
}
.Three {
  background-color: yellow;
  flex: 1;
  height: 50px;
  border: 15px solid yellowgreen;
}
.unequalcolumns {
  background-color: darkorange;
  flex-direction: row;
  display: flex;
  gap: 12px;
  padding: 12px;
}
.unequal {
  background-color: pink;
  flex: 1;
  height: 50px;
  border: 2px solid blue;
}
.unequal:first-child {
  flex: 2;
}
.fourequal {
  background-color: blueviolet;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 12px;
}
.Four {
  background-color: gold;
  flex: 1;
  height: 50px;
  border: 2px solid green;
}
.Fourfooter {
  flex: 0 0 100%;
}
